<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8814cb1f67c64f9088114ba7741caf6f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8814cb1f67c64f9088114ba7741caf6f" ></div>
        
</body>
<script>    
    
            var map_8814cb1f67c64f9088114ba7741caf6f = L.map(
                "map_8814cb1f67c64f9088114ba7741caf6f",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2b9bc302cf584f338f88a82cecc501b1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8814cb1f67c64f9088114ba7741caf6f);
        
    
            var feature_group_4a11591a79684e749909ed1307daf788 = L.featureGroup(
                {}
            ).addTo(map_8814cb1f67c64f9088114ba7741caf6f);
        
    
            var marker_986aa3d6ca084bbcb00780ff3d0518ce = L.marker(
                [37.7790262, -122.4199061],
                {}
            ).addTo(feature_group_4a11591a79684e749909ed1307daf788);
        
    
        var popup_fc57102b14804de8a069773b7f7a5a8a = L.popup({"maxWidth": "100%"});

        
            var html_b93b7edfb2414f1087a1166539e68037 = $(`<div id="html_b93b7edfb2414f1087a1166539e68037" style="width: 100.0%; height: 100.0%;">Twitter Verified</div>`)[0];
            popup_fc57102b14804de8a069773b7f7a5a8a.setContent(html_b93b7edfb2414f1087a1166539e68037);
        

        marker_986aa3d6ca084bbcb00780ff3d0518ce.bindPopup(popup_fc57102b14804de8a069773b7f7a5a8a)
        ;

        
    
    
            var feature_group_70045bef171e45bc99934c8786a9c97f = L.featureGroup(
                {}
            ).addTo(map_8814cb1f67c64f9088114ba7741caf6f);
        
    
            var marker_76cb5b2517634a3aacccec06cc0f4a75 = L.marker(
                [19.37218875, -72.33465445105234],
                {}
            ).addTo(feature_group_70045bef171e45bc99934c8786a9c97f);
        
    
        var popup_dd45bb9f2dc84f70b5af8048060bc7e4 = L.popup({"maxWidth": "100%"});

        
            var html_a30585b0dd3e4b57a508e7115cf8e1f3 = $(`<div id="html_a30585b0dd3e4b57a508e7115cf8e1f3" style="width: 100.0%; height: 100.0%;">kaceytron</div>`)[0];
            popup_dd45bb9f2dc84f70b5af8048060bc7e4.setContent(html_a30585b0dd3e4b57a508e7115cf8e1f3);
        

        marker_76cb5b2517634a3aacccec06cc0f4a75.bindPopup(popup_dd45bb9f2dc84f70b5af8048060bc7e4)
        ;

        
    
    
            var feature_group_324a1735ce6d42b8b35194bbe3c8402c = L.featureGroup(
                {}
            ).addTo(map_8814cb1f67c64f9088114ba7741caf6f);
        
    
            var marker_41c9de54ad404562a460a8e5d4c4cf26 = L.marker(
                [32.775259, -96.6618011],
                {}
            ).addTo(feature_group_324a1735ce6d42b8b35194bbe3c8402c);
        
    
        var popup_cf92f9901d954746afa6b17d4bd466e2 = L.popup({"maxWidth": "100%"});

        
            var html_07cd6a6e59ce47b8849d7044084b075b = $(`<div id="html_07cd6a6e59ce47b8849d7044084b075b" style="width: 100.0%; height: 100.0%;">dotcrumb</div>`)[0];
            popup_cf92f9901d954746afa6b17d4bd466e2.setContent(html_07cd6a6e59ce47b8849d7044084b075b);
        

        marker_41c9de54ad404562a460a8e5d4c4cf26.bindPopup(popup_cf92f9901d954746afa6b17d4bd466e2)
        ;

        
    
    
            var feature_group_b0b79b07d65c40c796aae796a7c04385 = L.featureGroup(
                {}
            ).addTo(map_8814cb1f67c64f9088114ba7741caf6f);
        
    
            var marker_b7344d415b0b415c99c0d3cc1914b7e1 = L.marker(
                [-54.8438604, -68.5594418],
                {}
            ).addTo(feature_group_b0b79b07d65c40c796aae796a7c04385);
        
    
        var popup_ffa262ac1f9d42bfb03885dbd51c45c4 = L.popup({"maxWidth": "100%"});

        
            var html_b734d6cac64045258b5b05a881cf5496 = $(`<div id="html_b734d6cac64045258b5b05a881cf5496" style="width: 100.0%; height: 100.0%;">MATT WATSON</div>`)[0];
            popup_ffa262ac1f9d42bfb03885dbd51c45c4.setContent(html_b734d6cac64045258b5b05a881cf5496);
        

        marker_b7344d415b0b415c99c0d3cc1914b7e1.bindPopup(popup_ffa262ac1f9d42bfb03885dbd51c45c4)
        ;

        
    
    
            var feature_group_37bf40a1a0804b288c689b378aa1e622 = L.featureGroup(
                {}
            ).addTo(map_8814cb1f67c64f9088114ba7741caf6f);
        
    
            var marker_b1bbbccd99c94ede94850ef0fd6741ec = L.marker(
                [7.016667, 8.866667],
                {}
            ).addTo(feature_group_37bf40a1a0804b288c689b378aa1e622);
        
    
        var popup_22559b875ccf4f73865a613d6d8a417b = L.popup({"maxWidth": "100%"});

        
            var html_8e1aae24fe6e43eeb801719bbcc3330d = $(`<div id="html_8e1aae24fe6e43eeb801719bbcc3330d" style="width: 100.0%; height: 100.0%;">Antfrost</div>`)[0];
            popup_22559b875ccf4f73865a613d6d8a417b.setContent(html_8e1aae24fe6e43eeb801719bbcc3330d);
        

        marker_b1bbbccd99c94ede94850ef0fd6741ec.bindPopup(popup_22559b875ccf4f73865a613d6d8a417b)
        ;

        
    
    
            var feature_group_56d0044774374f0697c938641f1e1297 = L.featureGroup(
                {}
            ).addTo(map_8814cb1f67c64f9088114ba7741caf6f);
        
    
            var marker_801dadf0c39045cfbb143340c3630d1a = L.marker(
                [45.60558895, -73.73441730569056],
                {}
            ).addTo(feature_group_56d0044774374f0697c938641f1e1297);
        
    
        var popup_6d5a11f887094952807de893fb111254 = L.popup({"maxWidth": "100%"});

        
            var html_9cc4de0f673a432794a090181ba90a2e = $(`<div id="html_9cc4de0f673a432794a090181ba90a2e" style="width: 100.0%; height: 100.0%;">xQc</div>`)[0];
            popup_6d5a11f887094952807de893fb111254.setContent(html_9cc4de0f673a432794a090181ba90a2e);
        

        marker_801dadf0c39045cfbb143340c3630d1a.bindPopup(popup_6d5a11f887094952807de893fb111254)
        ;

        
    
    
            var feature_group_7bebb8a7529c432687adb3d6493784a1 = L.featureGroup(
                {}
            ).addTo(map_8814cb1f67c64f9088114ba7741caf6f);
        
    
            var marker_fa9a30539cbc47c39456a408916f5ca2 = L.marker(
                [13.7941032, 100.5495699],
                {}
            ).addTo(feature_group_7bebb8a7529c432687adb3d6493784a1);
        
    
        var popup_31526d78c9db47758a3394141e168cc7 = L.popup({"maxWidth": "100%"});

        
            var html_314bffc73ff74aef931c73d7665902ad = $(`<div id="html_314bffc73ff74aef931c73d7665902ad" style="width: 100.0%; height: 100.0%;">Larry</div>`)[0];
            popup_31526d78c9db47758a3394141e168cc7.setContent(html_314bffc73ff74aef931c73d7665902ad);
        

        marker_fa9a30539cbc47c39456a408916f5ca2.bindPopup(popup_31526d78c9db47758a3394141e168cc7)
        ;

        
    
    
            var feature_group_8ad2ec66d755488c846ad7fc1178f4cc = L.featureGroup(
                {}
            ).addTo(map_8814cb1f67c64f9088114ba7741caf6f);
        
    
            var marker_587f2ab0de344fd7b5a5fbae348827b9 = L.marker(
                [51.538786, 0.6929931],
                {}
            ).addTo(feature_group_8ad2ec66d755488c846ad7fc1178f4cc);
        
    
        var popup_b4f8861c7096460eab31983885ecad44 = L.popup({"maxWidth": "100%"});

        
            var html_9fad7561486542e4bb9ee3086537f8f9 = $(`<div id="html_9fad7561486542e4bb9ee3086537f8f9" style="width: 100.0%; height: 100.0%;">archie</div>`)[0];
            popup_b4f8861c7096460eab31983885ecad44.setContent(html_9fad7561486542e4bb9ee3086537f8f9);
        

        marker_587f2ab0de344fd7b5a5fbae348827b9.bindPopup(popup_b4f8861c7096460eab31983885ecad44)
        ;

        
    
</script>